source_up

# for testing only
export HOLBORN_OAUTH_CALLBACK="127.0.0.1:8000"
export HOLBORN_OAUTH_CLIENT_ID="M_KgpKG5sGB_9u-6SdN6cIbi4LMJRibGiMQRj4DDjL0=@127.0.0.1"
export HOLBORN_OAUTH_CLIENT_SECRET="Y0kBeFqcNyqJBIt5RK_HmeCHA8AxbcNy_OW_dG3qy3LDq40Y3a9S6H-N5bkoeTEbRDW7e6rSOLeI0sxorJMaLvBdA31fEcNk"
