@import "placeholder-mixin";

body {
    margin: 0px;
    font-family: "arial", "sans-serif";
}

$main-blue: #3B78E8;
$header-height: 50px;
$header-z-index: 100;
$burger-menu-background: #ececec;


header {
    background: $main-blue;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    font-size: 16pt;
    position: fixed;
    width: 100vw;
    z-index: $header-z-index;

    height: $header-height;

    display: flex;
    flex-direction: row;

    .burger {
        padding: 10px;
        cursor: pointer;
    }
    .context {
        padding: 10px;
        flex: 1;
    }
    .search {
        flex: 10;
        padding: 10px;
        text-align: center;
        display: flex;

        input {
            max-width: 960px;
            flex: 1;
            background: lighten($main-blue, 10%);
            border: 0px;
            border-radius: 2px;
            padding: 6px;
            font-size: 12pt;
            color: white;
        }
        input:focus {
            outline: 2px solid #fc0;
        }
        @include placeholder {
            color: white;
        }
    }
    .me {
        width: 3em;
        padding: 10px;
    }
}


// code highlighting style:
@import "friendly";

pre {
    margin: 0px;
}

pre.line-numbers {
    width: 5em;
    float: left;
    text-align: right;
    margin-right: 10px;
    color: #999;
}

section.content {
    margin: auto;
    width: 960px;
    margin-top: $header-height;
}

section.content.burger-menu-open {
    margin-left: 220px;
}

.burger-menu {
    position: absolute;
    left: -200px;
    top: 0px;
    height: 100vh;
    z-index: $header-z-index - 1;
    background: $burger-menu-background;

    width: 200px;
    opacity: 0;
    transition: left 0.2s, opacity 0.2s;
}

.burger-menu.open {
    left: 0px;
    opacity: 1;
    transition: left 0.2s, opacity 0.2s;
}
